<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>My Grades</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- Content starts -->
	<div layout:fragment="content">
		<h2>My Gradebook</h2>
		
		<div class="row">
			<div class="col-md-9">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Course Name</th>
							<th>Unit</th>
							<th>Instructor</th>
							<th>Department</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each ="g : ${grades}">
							<td th:text = "${g.course.courseName}"></td>
							<td th:text = "${g.course.courseUnit}"></td>
							<td th:text = "${g.course.faculty.firstName +' '+ g.course.faculty.lastName}"></td>
							<td th:text = "${g.course.department.name}"></td>
							<td th:text = "${g.grade}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-md-3">
				<a class="btn btn-primary" th:href="@{/studentGrade/student/GPA}">View GPA for this semester</a>
			</div>
		</div>
	
		
	</div>
	
</body>
</html>