<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- sidebar: style can be found in sidebar.less -->

<!-- IMPORTANT -- Student Sidebar starts -->
<section class="sidebar">

   
<!--################## SIDEBAR FOR STUDENT ################## -->

<div sec:authorize="hasRole('ROLE_STUDENT')">
    <ul class="sidebar-menu" data-widget="tree">
    
    	<!-- Available course starts -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/courses' ? 'active' : '' }">
            <a th:href="@{/courseApp/student/courses}">
                <i class="fa fa-graduation-cap" ></i><span>Available Courses</span>
            </a>
        </li>
        <!-- Available course ends -->
        
        <!-- Enrolled courses -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/courses/my' || #httpServletRequest.getRequestURI() == '/courseApp/student/courses/my/all'  ? 'active' : ''}">
            <a th:href="@{/courseApp/student/courses/my}">
                <i class="fa fa-graduation-cap" ></i><span>My Courses</span>
            </a>
        </li>
        
        <!-- My applications start -->
        <li class="treeview" th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/applications' || #httpServletRequest.getRequestURI() == '/courseApp/student/applications/pending' || #httpServletRequest.getRequestURI() == '/courseApp/student/applications/approved'? 'active' : ''}">
            <a>
                <i class="fa fa-folder"></i>
                <span>My Applications</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/applications/pending' ? 'active' : ''}"><a href="/courseApp/student/applications/pending"><i class="fa fa-circle-o"></i> Pending Applications</a></li>
            	<li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/applications/approved' ? 'active' : ''}"><a href="/courseApp/student/applications/approved"><i class="fa fa-circle-o"></i> Approved Applications</a></li>
            	<li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/student/applications' ? 'active' : ''}"><a href="/courseApp/student/applications"><i class="fa fa-circle-o"></i> All Applications</a></li>
            </ul>
        </li>
        
         <!-- Gradebook  -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/studentGrade/student/grades' || #httpServletRequest.getRequestURI() == '/studentGrade/student/GPA' ? 'active' : '' }">
            <a href="/studentGrade/student/grades">
                <i class="fa fa-book" ></i><span>My Gradebook</span>
            </a>
        </li>
        
    </ul>
</div>	    	


<!-- ################## SIDEBAR FOR ADMIN ################## -->

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <ul class="sidebar-menu" data-widget="tree">
    
    	<!-- Pending course applications for approval start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/courseApp/admin/applications/pending' ? 'active' : ''}">
            <a th:href="@{/courseApp/admin/applications/pending}">
                <i class="fa fa-bell-o" ></i><span>Pending Applications</span>
            </a>
        </li>
        <!-- Pending course applications for approval ends -->
        
        <!-- CRUD for student users start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/student/admin/list' ? 'active' : ''}">
            <a th:href="@{/student/admin/list}">
                <i class="fa fa-graduation-cap" ></i><span>Student Users</span>
            </a>
        </li>
        <!-- CRUD for student users end -->


		<!-- CRUD for faculty users start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/faculty/admin/list' ? 'active' : ''}">
            <a th:href="@{/faculty/admin/list}">
                <i class="fa fa-graduation-cap" ></i><span>Faculty Users</span>
            </a>
        </li>
        <!-- CRUD for faculty users end -->
        
        
        <!-- CRUD for Courses start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/course/admin/list' ? 'active' : ''}">
            <a th:href="@{/course/admin/list}">
                <i class="fa fa-graduation-cap" ></i><span>Courses</span>
            </a>
        </li>
        <!-- CRUD for Courses end -->
        
        
        <!-- CRUD for Departments start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/department/admin/list' ? 'active' : ''}">
            <a th:href="@{/department/admin/list}">
                <i class="fa fa-graduation-cap" ></i><span>Departments</span>
            </a>
        </li>
        <!-- CRUD for Departments end -->
    </ul>
</div>	            

<!-- ################## SIDEBAR FOR FACULTY ################## -->
<div sec:authorize="hasRole('ROLE_FACULTY')">
    <ul class="sidebar-menu" data-widget="tree">
        
        <!-- List of courses start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/faculty/faculty/courses/my' || #httpServletRequest.getRequestURI() == '/faculty/faculty/courses/my/all'  ? 'active' : ''}">
            <a th:href="@{/faculty/faculty/courses/my}">
                <i class="fa fa-graduation-cap" ></i><span>My Courses</span>
            </a>
        </li>
        <!-- List of courses end -->
        
        <!-- List of courses start -->
        <li th:classappend="${#httpServletRequest.getRequestURI() == '/report/faculty/GpaByStudent' ? 'active' : ''}">
            <a th:href="@{/report/faculty/GpaByStudent}">
                <i class="fa fa-graduation-cap" ></i><span>GPA Report</span>
            </a>
        </li>
        <!-- List of courses end -->
		        
    </ul>
</div>	      

</section>
<!-- /.sidebar -->