<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Courses</title>
    </head>

<body>
	<div layout:fragment="content">
        <div class="container my-5">
            <h2 class="mb-5">Course Form</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/course/admin/save}" th:object="${course}" method="POST">
                        <div class="row">
                            <div class="form-group col-md-6">
                            <input type="hidden" th:field="*{courseId}"/>
                            
                                <label for="courseCode" class="col-form-label">Course Code</label>
                                <input type="text" th:field="*{courseCode}" class="form-control" id="courseCode" placeholder="Course Code" autofocus>
                                <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="courseName" class="col-form-label">Course Name</label>
                                <input type="text" th:field="*{courseName}" class="form-control" id="courseName" placeholder="Course Name">
                                <span th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="courseUnit" class="col-form-label">Course Unit</label>
                                <input type="text" th:field="*{courseUnit}" class="form-control" id="courseUnit" placeholder="Course Unit">
                                <span th:if="${#fields.hasErrors('courseUnit')}" th:errors="*{courseUnit}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="department" class="col-form-label">Choose Department</label>
                                <select class="form-control" th:field="*{departmentID}" id="department">
    								<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
    							</select>
                                <span th:if="${#fields.hasErrors('departmentID')}" th:errors="*{departmentID}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-6">
                            	<input th:value="*{facultyID}" id="facultyID" type="hidden">
                            	<label for="faculty" class="col-form-label">Choose Instructor</label>
                            	<select class="form-control" th:field="*{facultyID}" name="faculty" id="faculty">
                            		<option value="0" disabled="disabled" selected="selected" > Select Instructor </option>
                            	</select>
                            	
                            </div>
                            
                            <div class="form-group col-md-6">
                            	<label for="startDate" class="col-form-label">Start Date</label>
                            	<input type="date" class="form-control" th:field="*{startDate}">
                            </div>
                             <div class="form-group col-md-6">
                            	<label for="startDate" class="col-form-label">End Date</label>
                            	<input type="date" class="form-control" th:field="*{endDate}">
                            </div>	
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Confirm">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
	</div>    
	<th:block layout:fragment="script">
	<script type="application/javascript">

			$(document).ready(function() {
				
				/* so the script will also run on edit form */
				doAjax()
				
			    $('#department').change(function() {
			    	
			    	doAjax()
			    });
			});
			
			function doAjax(){
				
				var department = $("#department").val()

				axios.get("/faculty/admin/getFacultyByDepartment?department=" + department)
				.then((response)=>{
					
					/* emptying the dropdown  */
					$("#faculty").empty()
					
					/* getting hidden facultyID  */
					var facultyID = $('#facultyID').val()
					
					/* looping through the response.data array of objects */
					response.data.forEach((item)=>{
						
						if(facultyID == item.faculty){
							$("#faculty").append(
									'<option selected th:field="*{facultyID}" value = '+ item.faculty +'>'
									+ item.firstName + ' ' + item.lastName
									+'</option>'
								)
						}
						else {
							$("#faculty").append(
									'<option th:field="*{facultyID}"  value = '+ item.faculty +'>'
									+ item.firstName + ' ' + item.lastName
									+'</option>'
								)
						}
				
						
					})
					
				})
				.catch((error)=>{
					console.log("Try again")
				})
			}
			
			
	</script>
</th:block>
	
	
    </body>
</html>

