<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Departments</title>
</head>
<body>
  <h2>Faculties Member Listing Table</h2>
  <table>
  <tr th:each="faculty:${faculties}">
  <td th:text=${faculty.faculty}>Id</td>
  <td th:text=${faculty.firstName}>First Name</td>
  <td th:text=${faculty.middleName}>Middle Name</td>
  <td th:text=${faculty.lastName}>Last Name</td>
  <td th:text=${faculty.department.name}>Department</td>
  <td><a th:href="@{/faculty/update/{id}(id=${faculty.faculty})}">Edit</a></td>
  <td><a th:href="@{/faculty/delete/{id}(id=${faculty.faculty})}">Delete</a></td>
  </tr>
  </table>
</body>
</html>