<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Products</title>
</head>
<body>
  <h1>Try Using Model Objects</h1>
  <h2>Student Listing Table</h2>
  <table>
  <tr th:each="student:${students}">
  <td th:text=${student.id}>Id</td>
  <td th:text=${student.firstName}>First Name</td>
  <td th:text=${student.lastName}>Last Name</td>
  <td th:text=${student.gender}>Gender</td>
  <td>Edit Hyperlink</td>
  <td>Delete Hyperlink</td>
  </tr>
  </table>
</body>
</html>