<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>My courses</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- Content starts -->
	<div layout:fragment="content">
		<h2>My courses</h2>
		<!-- mini nav starts -->
		<ul class="nav nav-tabs nav-justified">
			  <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI() == '/faculty/faculty/courses/my' ? 'active' : ''}"><a href="/faculty/faculty/courses/my">Active Courses</a></li>
			  <li role="presentation" th:classappend="${#httpServletRequest.getRequestURI() == '/faculty/faculty/courses/my/all' ? 'active' : ''}"><a href="/faculty/faculty/courses/my/all">All Courses</a></li>
		</ul>
		<hr>
		<!-- nav ends -->
		<div class="row">
		<p th:if = "${#httpServletRequest.getRequestURI() == '/faculty/faculty/courses/my/all'}" class="well">These are the list of modules that you are teaching or have taught.</p>
		<!-- thumbnails start -->
		
		<div th:each ="c : ${courses}"  class="col-sm-6 col-md-4">
				
				
			<div class="small-box bg-green">
				<div class="inner">
              		<h3 th:text="${c.courseName}"></h3>
              		<p style="font-weight: bold" th:text="${c.department.name}"></p>
              
               		<p>
						From <span th:text="${#dates.format(c.startDate, 'dd-MMM-yyyy')}"></span> 
						To <span th:text="${#dates.format(c.endDate, 'dd-MMM-yyyy')}"></span> 
					</p>
				</div>
				<div class="icon">
             			<i class="fa fa-book"></i>
           		</div>
            	
            	<a th:href="@{/faculty/faculty/show-emailform/(cn=${c.courseName},dp=${c.department.name},id=${c.courseId})}" class="btn btn-primary">
                    Email
                </a>            	
            	
            	<a 	th:if = "${execInfo.now.time >= c.startDate && execInfo.now.time <= c.endDate}"
            		th:href="@{/studentGrade/faculty/courses/viewUpdate/{id}(id=${c.courseId})}" class="btn btn-primary" >
                    Ongoing - View Student List
                </a>
            	
            	<a  th:if = "${execInfo.now.time < c.startDate}" 
            		th:href="@{/studentGrade/faculty/courses/view/{id}(id=${c.courseId})}" class="btn btn-warning" >
             		Upcoming - View Student List
          		</a>	
          		
            	<a  th:if = "${execInfo.now.time > c.endDate}"
            	   	th:href="@{/studentGrade/faculty/courses/view/{id}(id=${c.courseId})}" class="btn btn-danger" > 	 
             		Completed - View Student List
          		</a>
          		
			</div>	
            
            
            
          
		</div>
		<!-- thumbnails end -->
		</div>
		
	</div>
	
</body>
</html>